* {
  padding: 0;
  margin: 0;
}
body {
  background: url("../assets/background.jpg") no-repeat center / cover;
  min-height: 100vh;
}
.container {
  position: relative;
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(2rem);
  transform: scale(0);
  animation: zoom-in 0.9s ease forwards;
  display: flex;
  flex-direction: column;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:1rem;
  max-width: 90vw;
  margin: auto; 
}

h1 {
  text-align: center;
  margin-top: 2rem;
  color: #ffff;
}
.about p {
  flex: 1 1 clamp(20rem, 50%, 40rem);
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: #fff;
  margin-right: 0.6rem;
}
strong,
span {
  color: #ff8c00;
}
.about-video {
  flex: 1 1 clamp(16rem, 40%, 32rem);
  width: 100%;
  height: clamp(200px, 10vw, 300px);
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 10px;
  box-shadow: 2px 2px 3px #cc7000, -2px -2px 3px #ff8c00;
}
@keyframes zoom-in {
  100% {
    transform: scale(1);
  }
}

